.header {
  display: block;
  height: 10vw;
  background: url(jpeg/background.jpg) no-repeat;
  text-align: center;
  line-height: 10vw;
  font-family: 'Lobster', cursive;
  font-size: 200%;
  outline: 1px solid black;
  background-size: 100%;
}

.cube {
  color: #fff;
  margin: 12px 45px;
  float: left;
}

.cube {
  width: 95px;
  /*float: right;*/
  padding-right: 150px;
}

.side {
  height: 95px;
  line-height: 95px;
  position: absolute;
  text-align: center;
  width: 95px;
}

.top {
  background: #33cc54;
  transform: rotate(-45deg) skew(15deg, 15deg);
}

.top:hover,
.left:hover,
.right:hover {
  transform: none;
  background: yellow;
  color: red;
  transition: 1s;
}

.left {
  background: #2db34a;
  transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.right {
  background: #26973e;
  transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

iframe {
  float: left;
  outline: 1px solid red;
}
.menu li{
  /*display: inline;*/
  border-style: groove;
  padding: 5px 20px 5px 20px;
  margin-right: 20px;
  /*display: flex;
  flex-direction: row;*/
} 

.menu li:hover {
  background: #90EE90;
  transition: 1s;
}

.menu li a {
  text-decoration: none;

  
}

.menu li a:hover {
  text-decoration: blink;
  
}

.menu {
  width:70vw;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-basis: 10vw;
  flex-wrap: wrap;
  justify-content: space-around;

} 
body {
   margin-left: 10%;
  margin-right: 10%;
   /*background: linear-repeat-gradient */
  /*(#55ddff, #0081b5);*/
  background: url(jpeg/mainfon.jpg) no-repeat;
  z-index: -1;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.half1
{
  float:left;
  width:60%
 
  
}
#qwest {
  width:150px;
  height:30px;

}
#vosem {
  display: none;
}
#vosem:checked~.qwerty {
  display: none;
}
.opros {
  background: #66CDAA;
  border-radius: 33px;
  width: 15vw;
  float: left;
}
.aside {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-basis: 10vw;
  flex-wrap: wrap;
  justify-content: space-around;
}
#send {
   text-align: right;
}
.Block {
  display: block;
  width:300px;
  float:left;
  height:300px;
  border:1px solid black;
}
h3 {
  z-index: 1;
}
b {
  font-size: large;
  color: red;
}
.news1 {
  background-image: url(jpeg/chernobyl.jpg);
  background-size: cover;
    width: x;
    height: y;
}
.news2 {
   background-image: url(jpeg/war.png);
  background-size: cover;
    width: x;
    height: y;
}
.news3 {
   background-image: url(jpeg/novichek.jpg);
  background-size: cover;
    width: x;
    height: y;
}
.news4 {
   background-image: url(jpeg/yrsky.jpg);
  background-size: cover;
    width: x;
    height: y;
}
.news5 {
   /*background-image: url(jpeg/eu_nato.jpg) no-repeat;*/
  background: url(jpeg/eu_nato.jpg) 100% 100% no-repeat;
  background-size: cover;
    width: 300px;
    height: 300px;
}
.news6 {
   background-image: url(jpeg/kurils.jpg);
  background-size: cover;
    width: x;
    height: y;
}
.end {
  display: block;
  height: 100px;
  background: black;
  font-size: 70%;
  margin-top: 10px;
  padding: 15px; clear : both;
}
.end a {
color: #ff0;
padding: 10px;
}
.end a:hover {
color: #f00;
}
.end p {
padding: 2px;
text-align: center;
color: white;
}

.clearfloat {

clear: both;
}
.blank {
  height:10px;
}
.clearfloat {

clear: both;
}
.text {
  padding:5px;
  margin: 5px;
  border: 4px double black;
  text-align: justify;
}
.video {
  float: left;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.v768 {
  display: none;
}
label[for=menu] {
  display:none;
}
#menu {
  display: none !important;
}
@media (max-width:768px) {
.v1024 {
  display: none;
}
.v768 {
  display: block;
}
label[for=menu] {
  display:block;
  position: absolute;
  float: left;
  z-index: 25;
  /*left: 10vw; */
  /*top: 15vw;*/
  /*margin: 20px;*/

}
html * {
font-size: 3vw !important;
}
iframe {
  width: 50vw;
  height: 50vw;
}
.down {
  text-align: center;
}

#menu {
  /*display: none;*/
  background: white;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}

#menu~ul {
  display: none;

  list-style: none;
  padding-left: 0;
}
#menu:not(:checked)~label[for=menu]:nth-of-type(2) {
  display: none;
}

#menu:checked+label[for=menu] {
  display: none;
}

#menu:checked~ul{
  display: block;
   opacity: 1;
  transform: perspective(600px) rotateX(0deg);
  transition: 3s;
}



#submenu~ul {
  position: absolute;
  left: 100%;
  top: 0;
  width: 120px;
  outline: 1px solid blue;
}
#submenu:checked~ul {
  display: block;
}
a:visited, label {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#menu~ul>li:hover {
  text-decoration: underline;
  font-weight:800;
}

#submenu~ul>li:hover {
  background-color: rgba(0, 0, 255, 0.5);
}
.menu-list li a {
  color: #7f7f7f;
  font-size: 13px;
  line-height: 36px;
  padding: 0 25px;
  font-family: 'Kurale', serif;
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}
div .qwest1  {
  display: block;
  position: absolute;
 top:15vw;
 left:35vw;
 padding-bottom: 10vw;

}
div .qwest2  {
 float: left;
  position: absolute;
 top:15vw;
 left:75vw;
}
div.header2 {
  padding-top: 35vw;
}
div h3 {
  position: absolute;
  float: left;
  left: 35vw; 
  top: 10vw;
}
input[type=submit] {
  position: absolute;
  float: left;
  left: 80vw; 
  top: 13vw;
  background:red;
  border: 2px solid black;
}
div.Block {
  margin: 5vw;
}
}